<div class="container">
  <h1>Kitten Rescue Centre - Adopt</h1>
    <div class="nav">
      <ul>
        <li><%= link_to 'Home', home_path %> -</li>
        <li><%= link_to 'Cats', cats_path %> -</li>
        <li><%= link_to 'Adopt', adopt_path %> -</li>
        <li><%= link_to 'Contact Us', contact_path %></li>
      </ul>
    </div>
    <div class="content">
      
      
    </div>
</div>