<h2>About Us</h2>
<p>
          Kitten Rescue Centre is the city's largest cat specific rescue organization. They work to provide
    care and assistance for Winnipeg's immense (and growing) community of felines. Kitty Rescue Centre is proud
    to be a no kill centre focused on reducing the number of free roaming cats in our city while helping people
    find a feline companion to adopt from the centre.
</p>
<p>       The rescue centre has been in business since 2010 and currently employs a staff of about 12 people.
    It began when owner and founder Kyle Geske rescued a single cat from the northern area of Winnipeg, where
    free roaming cats were a huge problem. The company has grown since then and we are excited to bring you our
     online store. 
</p>
<p>       The purpose of this website is to help anyone who wishes to adopt a cat to find their perfect
      match while helping an animal in need of a home. This includes families, single people, and essentially anyone
     that has the means to provide a healthy living environment for their new pet! 
</p>


